<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="/head"></th:block>

<body>

<div class="container" id="wrapper" style="background-color: rgba(255,255,255,0.7);">

    <th:block th:include="/menu"></th:block>


    <div class="container">
        <p>Máu con người được chia làm nhiều nhóm - dựa theo một số chất cacbohydrat và protein đặc thù trên hồng cầu.
            Hiện có khoảng 40 nhóm khác nhau đã được phát hiện, nhưng có hai nhóm quan trọng hơn cả là nhóm máu ABO và
            yếu tố Rhesus (Rh). Vì những lý do chưa được khám phá, máu của mỗi nhóm có thể có kháng thể chống lại những
            nhóm kia. Do đó, khi truyền máu khác nhóm vào, kháng thể của người nhận có thể phá hủy máu được truyền, gây
            tác hại cho cơ thể.[1]</p>

        <h2><b>các hệ thống nhóm máu :</b></h2>
        <hr>
        <ul>
            <li>Một mẫu máu có thể tới hơn 30 chất trên bề mặt của các hồng cầu (red blood cell, viết tắt: RBC), và một
                nhóm máu của cá thể là một trong những sự kết hợp của một số kháng nguyên nhóm máu.[1] Trong số hơn 30
                nhóm máu, có hơn 600 chất kháng nguyên nhóm máu khác nhau đã được phát hiện, nhưng đa số trong chúng rất
                hiếm hoặc chủ yếu được tìm thấy trong các nhóm bộ tộc nhất định.
            </li>
            <li>Các hệ thống nhóm máu thường gặp:</li>
        </ul>

        <p>- Nhóm máu ABO, tên đầy đủ: hệ thống nhóm máu ABO</p>
        <p>- Nhóm máu Rh, tên đầy đủ: hệ thống nhóm máu Rh.</p>
        <p>- Nhóm máu Lewis, tên đầy đủ: hệ thống kháng nguyên Lewis (/'lu:ɪs/)</p>
        <p>- Nhóm máu Kell, tên đầy đủ: hệ thống kháng nguyên Kell.</p>
        <p>- Nhóm máu MNS, tên đầy đủ: hệ thống kháng nguyên MNS.</p>
        <p>Dưới đây giới thiệu 2 nhóm máu đầu tiên, thường gặp và quan trọng nhất trong truyền máu.</p>

        <h2>phân loại theo hệ thống ABO :</h2>
        <hr>
        <p>Con người có 4 nhóm máu: O, A, B, AB. Nhưng trước đây ta mới biết về hai ý nghĩa của nó là:</p>

        <p>1. Để truyền máu khi cần. Cụ thể là: Nhóm máu O có thể truyền cho cả bốn nhóm nhưng lại chỉ nhận được nhóm
            của mình là O. Ngược lại AB có thể nhận được cả bốn nhóm nhưng chỉ truyền được cho nhóm của mình là AB. Còn
            2 nhóm A, B thì vừa phải,nghĩa là nhận 2 và cho cũng 2, cụ thể là nhóm A nhận được A và O nhưng cũng cho
            được A và AB. Nhóm B nhận được B và O, cũng cho được B và AB. </p>
        <p>2. Để phục vụ cho ngành pháp y trong vấn đề xác định, loại trừ tội phạm..., hiện khoa học đã tiến xa hơn bằng
            cách xác định bằng DNA (Deoxyribo Nucleic Acid). Nhưng gần đây các nhà khoa học Mỹ, qua những công trình
            nghiên cứu tỉ mỉ và rộng rãi đã cho biết thêm 2 ý nghĩa mới:</p>

        <ul>
            <li>Biết được nhóm máu của mình để điều chỉnh cách sống sao cho tốt nhất.</li>
            <li>Để phòng và chữa nhiều nhóm bệnh một cách hiệu quả nhất. Một công trình nghiên cứu trên 20.635 người gồm
                15.255 nữ và 5.380 nam đủ mọi lứa tuổi đã cho tỷ lệ nhóm máu sau:
            </li>
        </ul>

        <p>nhóm máu</p>
        <p>O: 44.42%</p>
        <p>A: 34.83%</p>
        <p>B: 13.61%</p>
        <p>AB: 7.14%</p>

        <ul>
            <li>Biết thêm 2 tiểu nhóm:</li>
        </ul>
        <p>Nhờ những tiến bộ về khoa học, người ta mới phát hiện thêm trong mỗi nhóm máu có 2 tiểu nhóm được gọi là:
            Xuất tiết (Secretor) và Không xuất tiết (Non-secretor), ví dụ trong loại xuất tiết thì chỉ cần xét nghiệm
            nước bọt cũng có thể xác định được nhóm máu, vì các kháng nguyên của nhóm máu đó tiết qua các dịch của cơ
            thể như nước bọt, chất nhầy và cả tinh dịch. Còn loại không xuất tiết đòi hỏi phải tiến hành xét nghiệm máu
            trực tiếp. Nói chung các loại xuất tiết có khả năng giúp cơ thể chống bệnh cao hơn và thích nghi dễ hơn với
            hoàn cảnh so với loại không xuất tiết. Trong 2 tiểu nhóm này, mặc dù cùng thuộc một nhóm máu nhưng cũng có
            vài khác biệt trong việc lựa chọn thức ăn.</p>


        <h2><b>Phân loại theo hệ thống RH :</b></h2>
        <hr>
        <p>Rh viết tắt của chữ Rhesus, nghĩa là phân loại máu theo yếu tố Rhesus. Căn cứ vào sự khác biệt khi nghiên cứu
            về sự vận chuyển oxy của hồng cầu, thì, các hồng cầu có thể mang ở mặt ngoài một protein gọi là Rhesus hay
            ký hiệu là Rh. Trên lâm sàng, đây là hệ thống nhóm máu quan trọng nhất sau ABO. Hiện nay trong hệ thống nhóm
            máu này đã xác định được 50 loại kháng nguyên. Trong đó 5 kháng nguyên C, c, D, E và e là quan trọng nhất,
            đặc biệt là kháng nguyên D với tính sinh miễn dịch cao và tính kháng nguyên mạnh. Trạng thái Rh âm tính hay
            dương tính ở đây chính là trạng thái âm tính hay dương tính với kháng nguyên D. Nếu có kháng nguyên D thì là
            nhóm Rh+ (dương tính), nếu không có là Rh- (âm tính). Các nhóm máu A, B, O, AB mà Rh- thì được gọi là âm
            tính A-, B-, O-, AB-. Rhesus là một đặc điểm di truyền của mỗi cá nhân và tồn tại suốt cuộc đời. Trong đó,
            nhóm máu Rh- rất hiếm gặp, ở Việt Nam, Nhóm máu Rh- chỉ chiếm 0,04%, còn Nhóm Rh+ chiếm đến 99,96%. Đặc điểm
            của nhóm máu Rh này là chúng chỉ có thể nhận và cho người cùng nhóm máu, đặc biệt phụ nữ có nhóm máu Rh- thì
            con rất dễ tử vong[2][3].
        </p>
        <br>
        <p>Người có nhóm máu Rh+ chỉ có thể cho người cũng có nhóm máu Rh+ và nhận người có nhóm máu Rh+ hoặc Rh- liên
            quan cha mẹ
            Người có nhóm máu Rh- có thể cho người có nhóm máu Rh+ hoặc Rh- nhưng chỉ nhận được người có nhóm máu Rh- mà
            thôi
            Trường hợp người có nhóm máu Rh- được truyền máu Rh+, trong lần đầu tiên sẽ không có bất kỳ phản ứng tức thì
            nào xảy ra.Tuy nhiên sau thời gian 2-4 tuần cơ thể của người mang nhóm máu Rh- sẽ sản sinh ra lượng kháng
            thể (kháng D) đủ lớn để làm ngưng kết hồng cầu Rh+ được truyền vào cơ thể.Sau 2-4 tháng nồng độ kháng thể sẽ
            đạt mức tối đa, khi đó nếu tiếp tục truyền máu Rh+ lần thứ 2 sẽ gây ra những hậu quả nghiêm trọng do tai
            biến truyền máu</p>


        <img src="images/ditruyen.png" alt="" width="70%" ; height="500px;">

        <p>chú ý :</p>
        <p>Người phụ nữ có Rh- vẫn có khả năng sinh con bình thường. Tuy nhiên nếu người chồng có Rh+ thì đứa bé sinh ra
            có thể là Rh+ (hoặc Rh-) và từ đứa bé thứ hai trở đi nếu bé là Rh+ thì khi sinh ra sẽ gặp nguy hiểm vì lúc
            đứa bé sinh ra máu của mẹ và của con sẽ tiếp xúc nhau và người mẹ có Rh- sẽ tạo ra kháng thể chống lại yếu
            tố Rh+ của đứa bé sinh ra sau này và sẽ hủy hoại các hồng cầu của bé và gây ra thiếu máu trầm trọng, vàng da
            nặng cho bé, có thể, nguy hiểm đến tính mạng. Hiện đã có biện pháp phòng ngừa đơn giản. Ngay sau khi sinh
            con lần đầu, mẹ được tiêm huyết thanh kháng Rhesus (hay kháng D). Ở những trường hợp nặng, bào thai cần được
            theo dõi và chăm sóc đặc biệt, phương pháp điều trị chủ yếu là truyền thay máu khi trẻ còn trong bụng mẹ qua
            tĩnh mạch rốn hoặc ngay sau khi sinh ra[6].</p>


    </div> <!--Container-->
</div>


<hr style="border: 1px solid red;">
<th:block th:include="/footer"></th:block>

</body>
</html>