<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="footer">
    <div class="row">
        <div class="col-md-12">
            <div class="bao">
                <div class="col-md-6">
                    <div class="footertrai">
                        <h1 style="color: #18a085;">KHOA MÁU</h1>

                        <ul id="ull">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">* About</a></li>
                            <li><a href="#">* Contact</a></li>
                        </ul>

                        <p style="color: #18a085;padding-left: 40px;">project 02 ⓒ 2018</p>

                        <div id="icon" style="padding:20px 0 0 20px;">
                            <a href="#"><i class="fa fa-facebook-official" style="font-size:36px"></i></a>
                            <a href="#"><i class="fa fa-twitter-square" style="font-size:36px"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
                            <a href="#"><i class="fa fa-github-square" style="font-size:36px"></i></a>
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div>
                        <form id="register-form" method="post" role="form" action="dangkyemail.php">
                            <div class="row">
                                <div class="form-group">
                                    <h3 style="color: #18a085;">Để lại email chúng tôi sẽ liên hệ với bạn</h3>
                                    <div class="col-md-6">

                                        <input type="email" name="emaildangky" id="email2" tabindex="1"
                                               class="form-control" placeholder="Email" value="" required>
                                    </div>
                                    <div class="col-md-6" style="padding-bottom: 5px;">
                                        <input type="submit" name="submit" id="register-submit" value="Đăng kí"
                                               style="width: 50%;height: 30px;border-radius: 5px;background-color: #E74C3C;border:none;">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>