<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="/head"></th:block>

<body>

<div class="container" id="wrapper" style="background-color: rgba(255,255,255,0.7);">

    <th:block th:include="/menu"></th:block>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="width: 80%;">
                    <h1><b>Quy trình tham gia hiến máu</b></h1>
                    <hr>
                    <h4><b>Mỗi CBNV khi tham gia hiến máu sẽ lần lượt trải qua 5 bước cơ bản dưới đây để đảm bảo việc
                        hiến máu diễn ra an toàn, đúng tiêu chí, chất lượng.</b></h4>

                    <figure>
                        <img src="images/tinhnguyen.jpg" width="450" height="350"
                             alt="https://dantricdn.com/thumb_w/640/a5d5abc7e3/2016/10/08/anh-3-1475913036629.JPG">
                        <figcaption><p><b>lưu ý :</b> :Buổi sáng đi hiến máu, bạn lưu ý không bỏ bữa sáng, nên ăn nhẹ,
                            tránh chất có nhiều đường, mỡ trước khi hiến máu.</p></figcaption>
                    </figure>
                    <p><b style="color: #18a085;">trước khi làm thủ tục bạn vui lòng đọc hết yêu cầu thủ tục và lời
                        khuyên trước khi đăng kí hiến máu,tránh trường hợp ngoài ý muốn sảy ra.</b></p>

                    <p><b>Bước 1 : Đăng kí tham gia hiến máu</b></p>

                    <p>- bạn muốn hiến máu hãy click vào <a id="thea" th:href="@{/contact/create}"><b>đăng kí hiến máu</b></a>
                    </p>
                    <br>
                    <p><b>Bước 2: Khám và tư vấn sức khoẻ</b></p>

                    <p>- Các bác sĩ sẽ tư vấn để khai thác các tiền sử bệnh lý liên quan tới sức khỏe của bạn, giải đáp
                        những băn khoăn, lo lắng của bạn về việc hiến máu nhằm khẳng định bạn đã có hiểu biết đầy đủ về
                        việc hiến máu và hoàn toàn thoải mái, tự nguyện tham gia hiến máu.</p>
                    <p>- Tiếp theo, bác sĩ sẽ khai thác các yếu tố hành vi nguy cơ lây nhiễm các bệnh qua đường truyền
                        máu như HIV, viêm gan B, viêm gan C, giang mai, sốt rét cũng như các bệnh có thể lây nhiễm qua
                        đường truyền máu.</p>
                    <p>- Sau đó, các bác sĩ sẽ tiến hành khám sức khỏe để đảm bảo rằng, bạn hoàn toàn khỏe mạnh, tình
                        nguyện hiến máu và không có nguy cơ lây nhiễm bệnh cho người nhận máu.</p>

                    <br>
                    <p><b>Bước 3: Xét nghiệm máu</b></p>
                    <p>Bạn sẽ được làm các xét nghiệm kiểm tra trước hiến máu, bao gồm:</p>
                    <br>
                    <p>- Huyết sắc tố: là thành phần quan trọng của hồng cầu, xét nghiệm này nhằm đảm bảo máu của bạn đủ
                        chất lượng theo quy định để truyền cho người bệnh. Đạt tiêu chuẩn hiến máu khi lượng huyết sắc
                        tố đạt trên 120gam/lít.</p>
                    <p>- Xét nghiệm virus viêm gan B: bằng các xét nghiệm nhanh, để đảm bảo những người có vi rút viêm
                        gan B không tham gia hiến máu.</p>

                    <br>
                    <p><b>Bước 4: Hiến máu</b></p>
                    <p>- Mỗi người sẽ dành trung bình 5 phút cho việc hiến máu với lượng máu hiến mỗi lần là 250, 350
                        hoặc 450ml.</p>
                    <br>
                    <p><b>Bước 5: Nghỉ và nhận giấy chứng nhận sau hiến máu</b></p>
                    <p>- Sau hiến máu, bạn sẽ phải nghỉ tại chỗ ít nhất 10 phút. Bạn sẽ được phục vụ ăn nhẹ và được
                        khuyến cáo uống nhiều nước sau khi hiến máu. Bạn chỉ nên rời điểm hiến máu khi cảm thấy hoàn
                        toàn thoải mái.</p>

                    <br>
                    <p><b>Giữ gìn sức khỏe trước và sau khi hiến máu</b></p>
                    <p>- Đêm hôm trước ngày hiến máu bạn nên đi ngủ sớm, tránh thức quá khuya, và không uống đồ uống có
                        cồn như bia, rượu...</p>
                    <p>- Buổi sáng đi hiến máu, bạn lưu ý không bỏ bữa sáng, nên ăn nhẹ, tránh chất có nhiều đường, mỡ
                        trước khi hiến máu.</p>
                    <p>- Đừng quên mang theo chứng minh thư nhân dân, hoặc giấy tờ tùy thân khi đi hiến máu.</p>
                    <p>- Trong khi hiến máu, nếu bạn thấy có hiện tượng đau tức khó chịu ở bên tay cho máu, hãy báo với
                        nhân viên y tế để được hỗ trợ.</p>
                    <br>
                    <p><b>Ngay sau khi hiến máu</b></p>
                    <p>- Nếu bạn cảm thấy chóng mặt, mệt, buồn nôn: nên nằm nghỉ 10 đến 15 phút với đầu nằm thấp, chân
                        kê cao. Bạn chỉ nên rời điểm hiến máu khi thực sự thoải mái và được sự đồng ý của nhân viên y
                        tế.</p>
                    <p>- Bạn nên uống nhiều nước sau khi hiến máu.</p>
                    <p>- Để miếng băng dính che vết chích sau ít nhất 4-6 giờ mới bỏ đi.</p>
                    <p>- Nếu bạn phát hiện chảy máu tại chỗ hãy: Giơ cao tay; Lấy tay kia ấn nhẹ vào miếng bông hoặc
                        băng dính; Thay miếng bông và băng dính khác.</p>
                    <p>- Nếu bạn thấy xuất hiện bầm tím tại chỗ chích máu: Chườm lạnh tại chỗ nếu sau hai ngày hiến máu.
                        Những ngày sau: Chườm nóng 2 - 4 lần/ ngày.</p>

                    <br>
                    <p><b>Những điều cần tránh</b></p>
                    <p>- Không uống rượu, bia trong ngày đầu sau khi đi hiến máu.</p>
                    <p>- Trong 2 đến 3 ngày đầu sau hiến máu, bạn nên tránh những hoạt động mạnh, các trò chơi mang tính
                        đối kháng đòi hỏi tốn nhiều thể lực như đá bóng, tập tạ, leo trèo cao… không thức quá khuya và
                        nghỉ ngơi nhiều hơn bình thường.</p>

                    <br>
                    <p><b>Chế độ ăn, sinh hoạt sau khi hiến máu</b></p>
                    <p>- Bạn nên giữ chế độ ăn uống, sinh hoạt bình thường.</p>
                    <p>- Tăng cường sử dụng các chất dinh dưỡng bổ máu: thịt, gan, trứng, sữa …</p>
                    <p>- Dùng thêm các thuốc bổ máu nếu có thể.</p>

                    <br>
                    <p><b>Những lưu ý khi đi hiến máu tình nguyện</b></p>
                    <p>Một hai ngày đầu sau hôm hiến máu, bạn có thể có hiện tượng buồn ngủ. Bạn đừng lo vì đây là trạng
                        thái tạm thời do sự lập lại cân bằng của cơ thể. Bạn chịu khó nghỉ ngơi, hiện tượng này sẽ nhanh
                        chóng biến mất.</p>
                </div>
            </div>
        </div>


    </div> <!--Container-->
</div>


<hr style="border: 1px solid red;">
<th:block th:include="/footer"></th:block>

</body>
</html>