<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="/head"></th:block>

<body>

<div class="container" id="wrapper" style="background-color: rgba(255,255,255,0.7);">

    <th:block th:include="/menu"></th:block>

    <div class="container">


        <div id="tim">
            <div id="bored">

                <form th:action="@{/khomau/search}"  method="get">
                    <input type="search" name="s" id="timkiem" placeholder="Tìm kiếm">

                        <button style="background-color: #ffffff">
                            <div id="iconn">
                                <i class="fas fa-search"></i>
                            </div>
                        </button>

                </form>
            </div>
        </div>

        <table border="1">
            <tr>
                <th>ID</th>
                <th>nhom mau</th>
                <th>don vi</th>
            </tr>
            <tr th:each="khoMau,iterStat : ${khomaus}">

                <th th:text="${iterStat.count}">...</th>
                <!--<th th:text="${khoMau.id}">...</th>-->
                <th th:text="${khoMau.nhommau}">...</th>
                <th th:text="${khoMau.donvi}">...</th>

            </tr>
        </table>

    </div> <!--Container-->
</div>

<hr style="border: 1px solid red;">

<th:block th:include="/footer"></th:block>

</body>
</html>