<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: red;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">KHOA MÁU</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a style="background-color: red;" th:href="@{/index}">Home</a></li>

                <li><a th:href="@{/xetnhiemmau}">Xét nhiệm máu</a></li>
                <li><a th:href="@{/hienmau}">Hiến máu</a></li>
                <li id="liii"><a th:href="@{/khomau}">Kho máu</a></li>
                <li><a th:href="@{/about}">Giới thiệu</a></li>
                <li><a th:href="@{/contact}">Liên hệ</a></li>

            </ul>

            <!--         <form method="#" action="#">
              <div id="searchh">
              <input type="text" name="name" id="text" placeholder="nhập nhóm máu bạn cần" style="border-radius: 5px;">
              <input type="button" name="button" value="tìm kiếm" style="border-radius: 5px;">
            </div>
            -->
        </div><!--/.nav-collapse -->
    </div>
</nav>
</body>
</html>